body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 100px;
}

.button {
  height: 80px;
  width: 240px;
  border: none;
  font-size: 24px;
  text-align: center;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.title {
  font-size: 60px;
}

.pre-title {
  font-size: 32px;
  line-height: 45px;
}

.subtitle {
  font-size: 26px;
  line-height: 35px;
}

.text {
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 75px;
  }
  .button {
    height: 70px;
    width: 220px;
    font-size: 22px;
  }
}

@media (max-width: 860px) {
  .container {
    margin: 0 50px;
  }
  .title {
    font-size: 45px;
  }
  .pre-title {
    font-size: 28px;
    line-height: 40px;
  }
  .subtitle {
    font-size: 22px;
    line-height: 30px;
  }
  .text {
    font-size: 16px;
    line-height: 22px;
  }
  .button {
    height: 60px;
    width: 180px;
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .button {
    height: 50px;
    width: 150px;
    font-size: 16px;
  }
  .title {
    font-size: 30px;
  }
  .pre-title {
    font-size: 24px;
    line-height: 35px;
  }
  .subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .text {
    font-size: 15px;
    line-height: 21px;
  }
}

@media (max-width: 460px) {
  .button {
    height: 40px;
    width: 130px;
    font-size: 14px;
  }
  .title {
    font-size: 26px;
  }
  .pre-title {
    font-size: 20px;
    line-height: 28px;
  }
  .subtitle {
    font-size: 16px;
    line-height: 22px;
  }
  .text {
    font-size: 14px;
    line-height: 20px;
  }
}

.hero {
  background-color: #000B15;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #000B15), to(#1F3141));
  background: linear-gradient(90deg, #000B15 60%, #1F3141 100%);
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  margin-top: 120px;
  margin-bottom: 200px;
}

.hero-text__intro {
  margin-bottom: 22px;
}

.hero-text__title {
  color: #FFC700;
  margin-bottom: 30px;
}

.hero-text__subtitle {
  max-width: 350px;
}

.hero-buttons {
  margin-bottom: 85px;
}

.hero__order {
  margin-right: 40px;
  background-color: #FFC700;
  color: #000000;
}

.hero__works {
  margin-right: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #FFC700;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .hero-text {
    margin-top: 120px;
    margin-bottom: 150px;
  }
  .hero-text__subtitle {
    max-width: 350px;
  }
}

@media (max-width: 860px) {
  .hero-text {
    margin-top: 100px;
    margin-bottom: 120px;
  }
  .hero-text__subtitle {
    max-width: 300px;
  }
  .hero-buttons {
    margin-bottom: 80px;
  }
  .hero__order {
    margin-right: 25px;
  }
}

@media (max-width: 640px) {
  .hero-text {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .hero-text__subtitle {
    max-width: 280px;
  }
  .hero__order {
    margin-right: 20px;
  }
  .hero__works {
    border: 1px solid #FFC700;
  }
}

@media (max-width: 460px) {
  .hero-text {
    margin: 50px 0;
  }
  .hero-text__intro {
    margin-bottom: 15px;
  }
  .hero-text__title {
    margin-bottom: 10px;
  }
  .hero-text__subtitle {
    max-width: 220px;
  }
  .hero-buttons {
    max-width: 130px;
    margin-bottom: 50px;
  }
  .hero__order {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.skills {
  background-color: #192835;
}

.skills-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-img {
  margin-top: 115px;
  height: 500px;
  width: 350px;
  margin-left: 15px;
  position: relative;
}

.skills-img::before, .skills-img::after {
  position: absolute;
  content: "";
  height: 500px;
  width: 350px;
}

.skills-img::before {
  left: -15px;
  bottom: 15px;
  background-color: #FFC700;
}

.skills-img::after {
  left: 0;
  bottom: 0;
  background-color: #7C7C7C;
}

.skills-text {
  margin-top: 80px;
  margin-bottom: 50px;
}

.skills__title {
  margin-bottom: 50px;
}

.skills-list {
  padding-left: 15px;
  max-width: 550px;
}

.skills-list__item {
  margin-bottom: 35px;
}
