@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
}

.container {
  margin: 0 100px;
}

.button {
  height: 80px;
  width: 250px;
  border: none;
  font-size: 24px;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.title {
  font-size: 60px;
}

.pre-title {
  font-size: 42px;
  line-height: 54px;
  position: relative;
}

.pre-title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #FFC700;
  left: 0;
  bottom: -5px;
}

.subtitle {
  font-size: 26px;
  line-height: 44px;
}

.text {
  font-size: 20px;
  line-height: 31px;
}

.footer {
  background-color: #000B15;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 75px;
  }
  .button {
    height: 70px;
    width: 230px;
    font-size: 22px;
  }
}

@media (max-width: 860px) {
  .container {
    margin: 0 50px;
  }
  .title {
    font-size: 45px;
  }
  .pre-title {
    font-size: 28px;
    line-height: 48px;
  }
  .subtitle {
    font-size: 22px;
    line-height: 37px;
  }
  .text {
    font-size: 18px;
    line-height: 27px;
  }
  .button {
    height: 60px;
    width: 190px;
    font-size: 18px;
  }
  .footer {
    height: 80px;
  }
  .footer-text {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .button {
    height: 50px;
    width: 160px;
    font-size: 16px;
    border: 1px solid #FFC700;
  }
  .title {
    font-size: 30px;
  }
  .pre-title {
    font-size: 24px;
    line-height: 41px;
  }
  .subtitle {
    font-size: 20px;
    line-height: 34px;
  }
  .text {
    font-size: 18px;
    line-height: 31px;
  }
}

@media (max-width: 460px) {
  .button {
    height: 50px;
    width: 150px;
    font-size: 14px;
  }
  .title {
    font-size: 26px;
  }
  .pre-title {
    font-size: 20px;
    line-height: 34px;
  }
  .subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  .text {
    font-size: 16px;
    line-height: 27px;
  }
  .footer {
    height: 60px;
  }
  .footer-text {
    font-size: 14px;
  }
}

.hero {
  background-color: #000B15;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #000B15), to(#1F3141));
  background: linear-gradient(90deg, #000B15 60%, #1F3141 100%);
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  margin-top: 120px;
  margin-bottom: 200px;
}

.hero-text__intro {
  margin-bottom: 22px;
}

.hero-text__title {
  color: #FFC700;
  margin-bottom: 30px;
}

.hero-text__subtitle {
  max-width: 350px;
}

.hero-buttons {
  margin-bottom: 85px;
}

.hero__order {
  margin-right: 40px;
  background-color: #FFC700;
  color: #000000;
  font-family: Montserrat-Medium, sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero__order:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #FFC700;
  color: #ffffff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hero__works {
  margin-right: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #FFC700;
  color: #ffffff;
  font-family: Montserrat-Medium, sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero__works:hover {
  border: none;
  background-color: #FFC700;
  color: #000000;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 1200px) {
  .hero-text {
    margin-top: 120px;
    margin-bottom: 150px;
  }
  .hero-text__subtitle {
    max-width: 350px;
  }
}

@media (max-width: 860px) {
  .hero-text {
    margin-top: 100px;
    margin-bottom: 120px;
  }
  .hero-text__subtitle {
    max-width: 270px;
  }
  .hero-buttons {
    margin-bottom: 80px;
  }
  .hero__order {
    margin-right: 25px;
  }
}

@media (max-width: 640px) {
  .hero-text {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .hero-text__subtitle {
    max-width: 250px;
  }
  .hero__order {
    margin-right: 20px;
    border: 1px solid #FFC700;
  }
}

@media (max-width: 460px) {
  .hero-text {
    margin: 50px 0;
  }
  .hero-text__intro {
    margin-bottom: 15px;
  }
  .hero-text__title {
    margin-bottom: 10px;
  }
  .hero-text__subtitle {
    max-width: 230px;
  }
  .hero-buttons {
    max-width: 130px;
    margin-bottom: 50px;
  }
  .hero__order {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.skills {
  background-color: #192835;
}

.skills-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-img {
  margin-top: 115px;
  height: 500px;
  width: 350px;
  margin-left: 15px;
  position: relative;
}

.skills-img::before, .skills-img::after {
  position: absolute;
  content: "";
  height: 500px;
  width: 350px;
}

.skills-img::before {
  left: -15px;
  bottom: 15px;
  background-color: #FFC700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.skills-img::after {
  left: 0;
  bottom: 0;
  background-color: #7C7C7C;
}

.skills-img:hover::before {
  left: -20px;
  bottom: 20px;
}

.skills-text {
  margin-top: 80px;
  margin-bottom: 50px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.skills__title {
  margin-bottom: 50px;
  display: inline-block;
}

.skills-list {
  padding-left: 15px;
  max-width: 550px;
}

.skills-list__item {
  margin-bottom: 35px;
}

@media (max-width: 1200px) {
  .skills-text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .skills-list {
    max-width: 400px;
  }
  .skills-list__item {
    margin-bottom: 25px;
  }
  .skills-img {
    margin-top: 80px;
    height: 450px;
    width: 325px;
  }
  .skills-img::before, .skills-img::after {
    height: 450px;
    width: 325px;
  }
}

@media (max-width: 1000px) {
  .skills-text {
    margin-top: 50px;
  }
  .skills__title {
    margin-bottom: 35px;
  }
  .skills-img {
    margin-top: 50px;
    height: 400px;
    width: 300px;
  }
  .skills-img::before, .skills-img::after {
    height: 400px;
    width: 300px;
  }
}

@media (max-width: 860px) {
  .skills-img {
    margin-right: 60px;
    height: 350px;
    width: 225px;
  }
  .skills-img::before, .skills-img::after {
    height: 350px;
    width: 225px;
  }
  .skills__title {
    margin-bottom: 20px;
  }
  .skills-list {
    padding-left: 0;
  }
  .skills-list__item {
    margin-bottom: 15px;
  }
}

@media (max-width: 640px) {
  .skills-img {
    display: none;
  }
  .skills-text {
    margin: 0 auto;
    max-width: 350px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
  .skills-list {
    list-style: none;
  }
  .skills-list__item {
    margin-bottom: 45px;
  }
}

@media (max-width: 460px) {
  .skills-text {
    max-width: 275px;
  }
}

.works {
  background-color: #000B15;
}

.works-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 75px;
  padding-bottom: 50px;
}

.works-title {
  display: inline-block;
}

.works-card {
  width: 570px;
  height: 510px;
  margin-bottom: 90px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.works-card:nth-child(odd) {
  margin-right: 50px;
}

.works-card__img {
  height: 400px;
  width: 570px;
}

.works-card__text {
  margin: 0 auto;
  padding-top: 10px;
  height: 100px;
  max-width: 405px;
  text-align: center;
}

.works-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.works-cards {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__more {
  display: inline-block;
  position: relative;
}

.works__more::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.works__more:hover {
  cursor: pointer;
}

.works__more:hover::after {
  width: 100%;
}

@media (max-width: 1400px) {
  .works-card {
    width: 475px;
    height: 400px;
  }
  .works-card__img {
    height: 325px;
    width: 475px;
  }
  .works-card__text {
    height: 75px;
    max-width: 450px;
  }
}

@media (max-width: 1200px) {
  .works-card {
    width: 400px;
    height: 350px;
  }
  .works-card__img {
    height: 275px;
    width: 400px;
  }
  .works-card__text {
    height: 75px;
    max-width: 375px;
  }
}

@media (max-width: 1020px) {
  .works-block {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .works-card {
    width: 575px;
    height: 510px;
    margin-bottom: 75px;
  }
  .works-card:nth-child(odd) {
    margin-right: 0;
  }
  .works-card__img {
    height: 400px;
    width: 575px;
  }
  .works-card__text {
    height: 100px;
    max-width: 405px;
  }
  .works-cards {
    margin-top: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .works-hide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media (max-width: 860px) {
  .works-card {
    width: 475px;
    height: 400px;
    margin-bottom: 50px;
  }
  .works-card__img {
    height: 325px;
    width: 475px;
  }
  .works-card__text {
    height: 75px;
    max-width: 450px;
  }
}

@media (max-width: 640px) {
  .works-block {
    padding-bottom: 30px;
  }
  .works-card {
    width: 400px;
    height: 350px;
    margin-bottom: 30px;
  }
  .works-card__img {
    height: 275px;
    width: 400px;
  }
  .works-card__text {
    height: 75px;
    max-width: 375px;
  }
}

@media (max-width: 460px) {
  .works-card {
    width: 280px;
    height: 275px;
  }
  .works-card__img {
    height: 200px;
    width: 280px;
  }
  .works-card__text {
    height: 75px;
    max-width: 250px;
  }
  .works-cards {
    margin-bottom: 50px;
  }
}

.contacts {
  background-color: #02060B;
}

.contacts-block {
  padding: 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contacts__title {
  margin-bottom: 70px;
}

.contacts-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contacts-form__name, .contacts-form__mail, .contacts-form__msg {
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: #ffffff;
  width: 400px;
  max-width: 400px;
  margin-bottom: 35px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contacts-form__name:hover, .contacts-form__mail:hover, .contacts-form__msg:hover {
  cursor: text;
}

.contacts-form__name:focus, .contacts-form__name:active, .contacts-form__mail:focus, .contacts-form__mail:active, .contacts-form__msg:focus, .contacts-form__msg:active {
  outline: none;
  border-bottom: 2px solid #FFC700;
}

.contacts-form__msg {
  height: 160px;
}

.contacts-form__button {
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #FFC700;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contacts-form__button:hover {
  background-color: #FFC700;
  color: #000000;
  font-family: Montserrat-Medium, sans-serif;
}

.contacts-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  width: 100%;
}

.contacts-text-main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contacts-text__title {
  margin-bottom: 60px;
  width: 200px;
}

.contacts-text-email {
  margin-bottom: 35px;
  width: 200px;
}

.contacts-text-email__title {
  font-family: Montserrat-Bold, sans-serif;
}

.contacts-text-phone {
  margin-bottom: 35px;
  width: 200px;
}

.contacts-text-phone__title {
  font-family: Montserrat-Bold, sans-serif;
}

@media (max-width: 960px) {
  .contacts-block {
    padding: 40px 0;
  }
  .contacts-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .contacts-text {
    margin-top: 50px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .contacts-text-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts-text__title {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .contacts-text-phone, .contacts-text-email {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: center;
  }
  .contacts-text__email {
    margin-right: 35px;
  }
}

@media (max-width: 640px) {
  .contacts-block {
    padding-bottom: 25px;
  }
  .contacts-form {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .contacts-form__name, .contacts-form__mail, .contacts-form__msg {
    width: 80%;
    max-width: 300px;
  }
  .contacts-form__msg {
    height: 100px;
  }
  .contacts-form__button {
    margin-top: 30px;
  }
}

@media (max-width: 460px) {
  .contacts-text-phone, .contacts-text-email {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
