@mixin flex()
  display: flex
  align-items: center
  justify-content: space-between
  
body,h1,h2,h3,h4,h5,h6,p
  margin: 0

body
  box-sizing: border-box
  color: #ffffff
  +regular

.container
  margin: 0 100px

.button
  height: 80px
  width: 250px
  border: none
  font-size: 24px
  text-align: center
  +regular
  &:focus
    outline: none
  &:hover
    cursor: pointer
a
  color: #ffffff
  text-decoration: none
.title
  font-size: 60px
.pre-title
  font-size: 42px
  line-height: 54px
  position: relative
  &::after
    position: absolute
    content: ""
    height: 2px
    width: 100%
    background-color: $main-color
    left: 0
    bottom: -5px
.subtitle
  font-size: 26px
  line-height: 44px
.text
  font-size: 20px
  line-height: 31px

.footer
  background-color: $main-bg
  height: 100px
  +flex

.hidden
  display: none
  
@media ( max-width: 1200px )
  .container
    margin: 0 75px
  .button
    height: 70px
    width: 230px
    font-size: 22px
    
@media ( max-width: 860px )
  .container
    margin: 0 50px
  .title
    font-size: 45px
  .pre-title
    font-size: 28px
    line-height: 48px
  .subtitle
    font-size: 22px
    line-height: 37px
  .text
    font-size: 18px
    line-height: 27px
  .button
    height: 60px
    width: 190px
    font-size: 18px
  .footer
    height: 80px
    &-text
      font-size: 18px
@media ( max-width: 640px )
  .container
    margin: 0 auto
    width: 90%
  .button
    height: 50px
    width: 160px
    font-size: 16px
    border: 1px solid $main-color
  .title
    font-size: 30px
  .pre-title
    font-size: 24px
    line-height: 41px
  .subtitle
    font-size: 20px
    line-height: 34px
  .text
    font-size: 18px
    line-height: 31px
@media ( max-width: 460px )
  .button
    height: 50px
    width: 150px
    font-size: 14px
  .title
    font-size: 26px
  .pre-title
    font-size: 20px
    line-height: 34px
  .subtitle
    font-size: 18px
    line-height: 31px
  .text
    font-size: 16px
    line-height: 27px
  .footer
    height: 60px
    &-text
      font-size: 14px


