.skills
  background-color: $scnd-bg
  &-block
    +flex
  &-img
    margin-top: 115px
    height: 500px
    width: 350px
    margin-left: 15px
    position: relative
    &::before, &::after
      position: absolute
      content: ""
      height: 500px
      width: 350px
    &::before
      left: -15px
      bottom: 15px
      background-color: $main-color
    &::after
      left: 0
      bottom: 0
      background-color: #7C7C7C
  &-text
    margin-top: 80px
    margin-bottom: 50px
  &__title
    margin-bottom: 50px
  &-list
    padding-left: 15px
    max-width: 550px
    &__item
      margin-bottom: 35px
    
