.works
  background-color: $main-bg
  &-block
    +flex
    flex-flow: column
    justify-content: center
    padding-top: 75px
    padding-bottom: 50px
  &-title
    display: inline-block
  &-hidden
    width: 100%
    display: none
    &-block
      +flex
      flex-wrap: wrap
  &-card
    width: 570px
    height: 392px
    margin-bottom: 50px
    transition: transform 0.2s linear
    position: relative
    &:nth-child(odd)
      margin-right: 50px
    &__img
      height: 282px
      width: 570px
    &__text
      margin: 0 auto
      padding-top: 10px
      height: 100px
      max-width: 405px
      text-align: center
    &-info
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 282px
      background-color: rgba(0,0,0,.8)
      &__link
        margin-bottom: 30px
        display: block
        transition: .2s
        &:hover
          color: $main-color
          cursor: pointer
    &-content
      padding: 50px 30px

    &:hover
      transform: scale(1.05)
    &s
      margin-top: 100px
      +flex
      flex-wrap: wrap
      width: 100%
  &-hide
    +flex
    width: 100%
    flex-wrap: wrap
  &__more
    display: inline-block
    &:hover
      cursor: pointer
      

  @media ( max-width: 1400px )
    &-card
      width: 475px
      height: 310px
      &__img
        width: 475px
        height: 235px
      &__text
        height: 75px
        max-width: 450px
      &-info
        height: 235px

  @media ( max-width: 1200px )
    &-card
      width: 400px
      height: 273px
      &__img
        height: 198px
        width: 400px
      &__text
        height: 75px
        max-width: 375px
      &-info
        height: 198px
        width: 400px
  @media ( max-width: 1020px )
    &-block
      padding-top: 50px 
      padding-bottom: 40px
    &-hidden
      &-block
        +flex
        justify-content: center
    &-card
      margin-bottom: 50px
      margin-right: 0
      width: 475px
      height: 310px
      &__img
        width: 475px
        height: 235px
      &:nth-child(odd)
        margin-right: 0
      &-info
        width: 475px
        height: 235px
        
      &s
        margin-top: 75px
        flex-flow: column
  @media ( max-width: 860px )
    &__title
      margin-bottom: 30px
    &-card
      &__text
        height: 75px
        max-width: 450px
  @media ( max-width: 640px )
    &-block
      padding-bottom: 30px
    &-card
      width: 400px
      height: 273px
      margin-bottom: 30px
      &__img
        width: 400px
        height: 198px
      &__text
        height: 75px
        max-width: 375px
      &-info
        width: 400px
        height: 198px
  @media ( max-width: 460px )
    &-card
      width: 280px
      height: 213px
      &__img
        width: 280px
        height: 138px
      &__text
        height: 75px
        max-width: 250px
      &-info
        width: 280px
        height: 138px
      &-content
        padding: 20px 20px
      &s
        margin-bottom: 50px