.works
  background-color: $main-bg
  &-block
    +flex
    flex-flow: column
    justify-content: center
    padding-top: 75px
    padding-bottom: 50px
  &-title
    display: inline-block
  &-card
    width: 570px
    height: 510px
    margin-bottom: 90px
    transition: 0.2s
    &:nth-child(odd)
      margin-right: 50px
    &__img
      height: 400px
      width: 570px
    &__text
      margin: 0 auto
      padding-top: 10px
      height: 100px
      max-width: 405px
      text-align: center
    &:hover
      transform: scale(1.05)
      cursor: pointer
    &s
      margin-top: 100px
      +flex
      flex-wrap: wrap
  &-hide
    +flex
    width: 100%
    flex-wrap: wrap
  &__more
    display: inline-block
    position: relative
    &::after
      position: absolute
      content: ""
      height: 1px
      width: 0%
      background-color: #ffffff
      left: 0
      bottom: 0
      transition: 0.2s
    &:hover
      cursor: pointer
      &::after
        width: 100%
      

  @media ( max-width: 1400px )
    &-card
      width: 475px
      height: 400px
      &__img
        height: 325px
        width: 475px
      &__text
        height: 75px
        max-width: 450px
  @media ( max-width: 1200px )
    &-card
      width: 400px
      height: 350px
      &__img
        height: 275px
        width: 400px
      &__text
        height: 75px
        max-width: 375px
  @media ( max-width: 1020px )
    &-block
      padding-top: 50px 
      padding-bottom: 40px
    &-card
      width: 575px
      height: 510px
      margin-bottom: 75px
      &:nth-child(odd)
        margin-right: 0
      &__img
        height: 400px
        width: 575px
      &__text
        height: 100px
        max-width: 405px
      &s
        margin-top: 75px
        flex-flow: column
    &-hide
      flex-flow: column
  @media ( max-width: 860px )
    &-card
      width: 475px
      height: 400px
      margin-bottom: 50px
      &__img
        height: 325px
        width: 475px
      &__text
        height: 75px
        max-width: 450px
  @media ( max-width: 640px )
    &-block
      padding-bottom: 30px
    &-card
      width: 400px
      height: 350px
      margin-bottom: 30px
      &__img
        height: 275px
        width: 400px
      &__text
        height: 75px
        max-width: 375px
  @media ( max-width: 460px )
    &-card
      width: 280px
      height: 275px
      &__img
        height: 200px
        width: 280px
      &__text
        height: 75px
        max-width: 250px
      &s
        margin-bottom: 50px